@model Calculator.Models.Calcilation;

@{
    ViewData["Title"] = "Calc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Calculation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value1" class="control-label"></label>
                <input asp-for="Value1" value="@ViewBag.lastr" class="form-control"/>
                <span asp-validation-for="Value1" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <label asp-for="opration" class="control-label"></label>
               <select asp-for="opration" class="form-control" asp-items="Html.GetEnumSelectList<Opration>()"></select>               
            </div>
            <div class="form-group">
                <label asp-for="Value2" class="control-label"></label>
                <input asp-for="Value2" class="form-control" />
                <span asp-validation-for="Value2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
